/**
 * OpenLayers overrides
 */
.olControlZoom a {
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important; /* Ensures vertical alignment of text */
}

/**
 * OpenLayers TextButtonPanel
 *
 */
.olControlTextButtonPanel.vpanel {
    top: auto;
    bottom: 40px;
    left: 8px;
    right: auto;
}

.olControlTextButtonPanel.hpanel {
    top: auto;
    bottom: 8px;
    left: 8px;
    right: auto;
}
div.olControlTextButtonPanel {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlTextButtonPanel .olButton {
    display: block;
    margin: 1px;
    width: 28px; /* Same size as +/- in zoom control */
    height: 28px; /* Same size as +/- in zoom control */
    line-height: 28px; /* Ensures vertical alignment of text */
    font-size: 14px;
    color: white;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
div.olControlTextButtonPanel .olButton:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlTextButtonPanel .olButton:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}

/**
 * Style tweaks
 * --------------------------------------------------
 */
@media (min-width: 767px) and (max-width: 992px) {
    .navbar-btn-label {
        display: none;
    }
}

html,
body {
    background: url('/images/html-background.jpg');
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    overflow-y: hidden; /* Prevent scroll on narrow devices */
}
body {
    
}
@media (min-width: 768px) {
    body {
        padding-top: 70px;
    }
}
footer {
    padding: 30px 0;
}

/* App-specific */

.offcanvas-shift {
    left: -350px !important;
}

#progress {
    width: 100%;
}

#mainContainer {
    position: absolute;
    bottom: 50px;
    top: 70px;
    left: 15px;
    right: 15px;
}

#mainContainer .row {
    height: 100%;
    position: relative;
    left: 15px;
    right: 15px;
}

#responsiveMarker {
    display: block;
}

@media(min-width: 1200px) {
    #mainContainer .row {

    }
}
@media(min-width: 992px) {
    #mainContainer .row {
      
    }
}
@media(min-width: 768px) {
    #mainContainer .row {
      
    }
    #responsiveMarker {
        display: none;
    }
}
@media(max-width: 767px) {
    #mainContainer {
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 50px;
    }
    #mainContainer .row {
        left: 0px;
        right: 0px;
    }
    #sidebar {
        width: 350px;
    }
}
@media(max-width: 350px) {
    #sidebar {
        width: 100%;
    }
}

#map { height: 100%; }
#sidebar {
    height: 100%;
}
#legend { padding-left: 10px; }
#photosPanel, #homePanel, #uploadFormPanel { 
    height: 100%; 
}
#photosPanel .panel-body, #homePanel .panel-body, #uploadFormPanel .panel-body {
    overflow-y: auto;
    height: 85%;
}
/* #uploadForm { margin-top: 10px; } */
#sidebarToggler {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50px;
}
.olControlMousePosition { top: 0px; }
.olControlScale { top: 15px; }
.goog-sat-text { color: #FFFFFF; }
.flickr-thumbnail-grid { margin-top: 50px; }
.flickr-thumbnail { display: inline; margin-left: 4px; margin-right: 4px; }

/* CSS hack to force centered images in Bootstrap Carousel */
.carousel-item-inner {
    text-align: center;
    img {
        margin: 0 auto;
    }
}
.carousel-bg-dark {
    background: #454545;
}
.carousel-control {
    vertical-align: center
}
.carousel-caption {
    position: inherit;
}
.carousel-indicators {
    bottom: 0px;
}

/* Give some style to the file input field */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -350px;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 70%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 72%; /* 6 columns */
    }
}
@media screen and (max-width: 480px) {
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -350px;
        padding-right: 0px;
        padding-left: 0px;
    }
}